body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient(to bottom, #3a6073, #8ebacb);
    color: #fff;
    padding: 10px 0;
    border-bottom: #77a1d3 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    gap: 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}

header a:hover,
header a.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}

.hero {
    background: url('images/hero-background-artistic.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh; /* Make sure the hero section covers the full viewport height */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hero .cta {
    display: inline-block;
    color: #333;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.about {
    background: #fff; /* White background */
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.solutions {
    background: #b0e0e6; /* Light green-blue background */
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.solutions-columns {
    display: flex;
    justify-content: space-around;
}

.solution-step {
    width: 30%;
    padding: 10px;
}

.how-it-works {
    background: #d3d3d3; /* Grey background */
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.how-it-works-columns {
    display: flex;
    justify-content: space-around;
}

.how-it-works-step {
    width: 22%;
    padding: 10px;
}

.contact {
    background: #d3d3d3; /* Light grey background */
    color: #333;
    padding: 50px 0;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer nav {
    padding-top: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
